<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2 class="chat">Chat Bot Using Python </h2>
    <div class="chat_bot_class">
        <div class="question-container">
            <h1 style="margin-top: 30px; font-weight: 800; margin-bottom: 20px;">This question can be asked using this bot:</h1>
            <h1>My name is ________</h1>
            <h1>What is your name?</h1>
            <h1>How are you?</h1>
            <h1>Where are you from?</h1>
            <h1>What can you do?</h1>
            <h1>Tell me a joke</h1>
            <h1>How can I contact support?</h1>
            <h1>Quit</h1>
        </div>
        <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
